body {
    margin: 0px;
    padding: 0px;
    background-color: #faf0e6;
}

h1{
    text-align: center;
    font-size: 100px;
    margin-top: 400px;
}

h2{
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

#linha{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1300px
}

/* ---------------------------------------------------- */

/* Top Div starts here */

.topimg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: -1;
}


.topbar ul {
    padding-left: 35%;
    list-style-type: none;
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: black;
    opacity: 0.7;
}

.topbar li {
    display:inline;
    list-style-type: none;
}

.topbar li a {
    color: white;
    text-align: center;
    padding: 60px 40px;
    text-decoration: none;
}


.topbar li a:hover:not(.active) {
    color: #27BACA;
    background-color: #373737;
}

.active {
    background-color: #373737;
}

/* ---------------------------------------------------- */

/* Main Div Starts here */

.intro{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 30px;
}

.section {
    font-size: 20px;
    text-align: justify;
    display: flex;
    width: 510px;
    float: left;
    margin-left: 340px;
    margin-right: 0px;
    margin-bottom: 100px;
    line-height: 180%;
}

.section img {
    padding: 20px;
}

.galeria img {
    box-shadow: 14px 14px 16px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
    margin-bottom: 20px;
    width: 250px;
}

#img6 {
    margin-left: 200px;
}

#img3 {
    margin-left: 200px;
}

.galeria img:Hover {
    cursor: pointer;
    opacity: 0.7;
}

.info {
    font-size: 20px;
    text-align: center;
    display: flex;
    padding: 0;
    float: left;
    margin-left: 400px;
    margin-right: 0px;
    margin-bottom: 100px;
    line-height: 180%;
}

/* ---------------------------------------------------- */

/* Menu Div Starts here */

#bground {
    background-image: url("../_img/menu_bg.jpg");
    background-size: 2000px 1050px;
    background-repeat: no-repeat;
    background-position: bottom;
}

#imgground {

}

#imgground img {
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}

/* ---------------------------------------------------- */

/* Contacto Div starts here */

.cont {
    font-size: 20px;
    text-align: center;
    display: flex;
    padding: 0;
    float: left;
    margin-left: 400px;
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 100px;
    line-height: 180%;
}

#googleMap {
    margin-left: 520px;
}

#rua {
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 150px;
    font-size: 30px; 
}

/* ---------------------------------------------------- */

/* Gallery Div starts here */

.album {
    margin-left: 360px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.album img:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* ---------------------------------------------------- */

/* This is for the footer */

#footer {
    color: #F5DEB3;
    text-align: center;
    background-color: #232730;
    color:white;
    clear:both;
    padding:5px;
    margin-bottom: 0px;
}

/* ---------------------------------------------------- */

/* Social time!!!!!! */

.network {
    margin-right: 130px;
    font-weight:bold;
}

#follow {
    text-align: right;
    font-size: 30px;
    margin-right: 40px;
}

.social {
    display: inline;
    float: right;
}

.social img {
    padding: 10px;
}

/* ---------------------------------------------------- */

/* Back to the top Button */

.scrollup {
    position: fixed;
    bottom: 30px;
    right: 50px;
    display: none;
 }

.scrollup img {
    width: 70px;
    height: auto;
    
}

/* ---------------------------------------------------- */

/* Add Responsiveness */
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0.1)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Responsive Columns */
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/* Clear Floats */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* ---------------------------------------------------- */